@media screen and (max-width:1000px) {
  .box {
    width:100%;
  }

  .box .col-4 {
    width:70%;
    padding-bottom: 50px;
  }

  .title  {
    font-size: 35px;
    left:2px;
    align-items: center;
  }

  .button {
    top: 60%;
    left:35%;
  }
}





@media screen and (max-width: 600px) {
  .main li:not(:first-child) {
    display: none;
  }
  .main li.icon {
    float: right;
    display: block;
  }

  .title  {
    font-size: 35px;
    left:2px;
    align-items: center;
  }

  .button {
    top: 60%;
    left:30%;
  }

  form {
    width: 80%;
    align-items: center;

  }

  input,textarea {
    width: 100%;
  }


  .barang {
    width: 100%;
    margin-left:15%;
    background-color: initial;
  }

  .box .col-5 {
    width:70%;
    padding-bottom: 30px;
  }

  .text-contents {
    font-size: 20px;
    margin-top:0;
    margin-left: 40%;
  }

  .box {
    width:100%;
  }

  .bank {
    width:30%;
    margin-left:22.5%;
  } 

  .box .col-4 {
    width:70%;
    padding-bottom: 50px;
  }

  footer {
    width: 100%;
    font-size: 15px;
  }

  .main.responsive {position: relative;}
  .main.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main.responsive li a {
    float: none;
    display: block;
    text-align: left;
  }
}
